body {
    background-color: hsl(212, 45%, 89%);
}

.main-containor {
    background-color: hsl(0, 0%, 100%);
    margin: 30% 5% 30% 5%;
    padding: 15px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

img {
    height: 260px;
    width: 270px;
    border-radius: 5px;
}

.description {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.description p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.description .header {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

@media (min-width: 375px) {
    .main-containor {
        height: 456px;
        width: 296px;
        margin: 8% 38% 8% 38%;
        box-shadow: 0px 3px 5px 0px rgb(133, 155, 175);
    }
}
